extends layout

block content
  div#dashboard
    a(href="/show/bob's burgers")
      img(src="http://thetvdb.com/banners/posters/194031-2.jpg",alt="Bob's Burgers",title="Bob's Burgers")
      | Bob's Burgers
    a(href="/show/the office (us)")
      img(src="http://thetvdb.com/banners/posters/73244-8.jpg",alt="The Office (US)",title="The Office (US)")
      | The Office (US)
    a(href="/show/rick and morty")
      img(src="http://thetvdb.com/banners/posters/275274-11.jpg",alt="Rick and Morty",title="Rick and Morty")
      | Rick and Morty
    a(href="/show/bojack horseman")
      img(src="http://thetvdb.com/banners/posters/282254-6.jpg",alt="BoJack Horseman",title="BoJack Horseman")
      | BoJack Horseman
