doctype html
html
  head
    title= title
    link(href="/favicon.ico",rel="icon",type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Oswald", rel="stylesheet")
  body
    header
      a(href="/")
        h1 CASTFLIX
    block content
    script(src="/javascripts/links.js")
